<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
</head>
<body>

    {% if auth %}
      <div>Authorized</div>
    {% else %}
      <div>Unauthorized user.  Please log in!</div>
    {% endif %}

    {% for endpoint in endpoints %}
    <p> {{ endpoint }} </p>
    {% endfor %}

</body>

<script type="text/jsx" src="static/index.jsx"></script>



</html>